<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome file</title>
    <link rel="stylesheet" href="https://stackedit.io/style.css" />
</head>

<body class="stackedit">
    <div class="stackedit__left" style="margin: 78px 0 0">
        <div class="stackedit__toc">

            <ul>
                <li>
                    <a href="#справка-пользователя">Справка пользователя</a>
                    <ul>
                        <li><a href="#find">1. Поиск комнат</a></li>
                        <li><a href="#book">2. Бронирование</a></li>
                        <li><a href="#log">3. Регистрация/авторизация пользователя </a></li>
                        <li><a href="#rev">4. Отзывы</a></li>
                        <li><a href="#star">5. Добавление в избранное</a></li>
                        <li><a href="#pr">6. Личный кабинет</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <div class="stackedit__right" style="margin: 50px 0 0">
        <div class="stackedit__html">
            <h1 id="справка-пользователя">Справка пользователя</h1>
            <h2 id="find">1. Поиск комнат</h2>
            <p>Зайдя на сайт, вы оказываетесь на главной странице. На ней вы имеете возможность найти гостиничную комнату в отеле по её <strong>типу</strong> и <strong>дате</strong> прибытия/отъезда, для этого выберите необходимые параметры (Select City - выпадающий список городов, выберите необходимый, Select Room type - выпадающий список для выбора типа комнаты, Check in date/Check out date - дата прибытия в отель/отъезда из него. Для выбора из выпадающий списков нажмите на стрелочки Dropdown menu) и нажмите кнопку Search. Вам выдаст список комнат с дополнительной возможностью фильтрации(по цене и т.п).Также на главной странице есть кнопка Log in, которая переадресует вас на <a href="#log"><em>форму регистрации/авторизации</em></a>.</p>
            <h2 id="book">2. Бронирование</h2>
            <p>Когда вы нашли нужную вам комнату по <a href="#find">результатам поиска</a> и зашли на её страницу (нажатие клавиши Go to room при фильтрации), вам откроется её подробное описание/доступна ли для <em>бронирования/<a href="#rev">отзывы</a></em> и <a href="#star"><em>ревью</em></a> о ней. Если она доступна - нажмите book now, произойдет переадресация на страницу о успешном бронировании, нажмите Back, чтобы вернутся. Если вы не авторизированы вместо кнопки Book now, будет предложение о <a href="#log">авторизации</a>. Информация о вашей брони появится в <a href="#pr">личном кабинете</a>.</p>
            <h2 id="log">3. Регистрация/авторизация пользователя </h2>
            <p>Если вы зарегистрированный пользователь - введите ваши данные в поля Username и Password (если данные были введены неверно - вам предоставляется возможность ввести их повторно), для того, чтобы вас сохранило в системе и не нужно было повторно выполнять вход - поставьте галочку возле Remember me. После этого нажмите кнопку Login и вы авторизировались, у вас появились возможность бронировать комнаты/оставлять <a href="#rev">отзывы</a>/добавлять в <a href="#star">избранное</a>.</p>
            <p>Если у вас нет аккаунта - нажмите на кнопку Click here to register. Введите ваш Username, Password и Email, если вы ввели корректные данные (пароль длинной 3 и более символов и содержит хотя бы 1 уникальный), вас переадресует на страницу успешно законченной регистрации. Нажмите на кнопку Back и введите ваши данные для авторизации. Вас переадресует в ваш <a href="#pr">личный кабинет</a>.</p>
            <h2 id="rev">4. Отзывы</h2>
            <p>Для того, чтобы оставить отзыв на странице комнаты, опуститесь в самый низ страницы вы увидете пункт Rewiew, где вы можете поставить оценку (по 5-тибальной шкале) и написать комментарий об этой комнате.</p>
            <h2 id="star">5. Добавление в избранное</h2>
            <p>Для добавления в избранное комнаты, будучи на странице комнаты нажмите на сердце, рядом с названием отеля. Информация о избранных комнатах хранится в <a href="#pr">личном кабинете</a> .</p>
            <h2 id="pr">6. Личный кабинет</h2>
            <p>В личный кабинет вы можете перейти после <a href="#log">авторизации</a>, он будет в правом верхнем углу экрана. В нем хранится информация о ваших бронях, оставленных <a href="#rev">отзывах</a> и <a href="#star">избранных</a> комнатах.</p>

        </div>
    </div>
</body>

</html>
